<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756144059526-22rpcqmihbi8s7fffpiktdd3l197pojc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756144059526-22rpcqmihbi8s7fffpiktdd3l197pojc</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ7EJ7Hj0JJ55t3q_zeG69nRL9NZaP2A4</string>
	<key>GCM_SENDER_ID</key>
	<string>756144059526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>v1.TalentedApp</string>
	<key>PROJECT_ID</key>
	<string>talentedappv1</string>
	<key>STORAGE_BUCKET</key>
	<string>talentedappv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756144059526:ios:fc7253e1cc70db03e7cd07</string>
	<key>DATABASE_URL</key>
	<string>https://talentedappv1.firebaseio.com</string>
</dict>
</plist>